@font-face {
    font-family: 'Karla400';
    src: url('../fonts/Karla-Regular.woff2') format('woff2'),
        url('../fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla700';
    src: url('../fonts/Karla-Bold.woff2') format('woff2'),
        url('../fonts/Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

