/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Karla400" ,"Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #fff;
    color: $color-SOFT_SAVVY;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  