.button {
    padding: 13px 28.5px 12px 28.5px;
    border: 1.5px solid $color-JAGUAR;
    text-decoration: none;
    font-family: 'Karla700';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: $color-JAGUAR;
    display: inline-block;
}

.button--white {
    border: 1.5px solid #fff;
    color: #fff;
}