.footer {
    background-color: #FAFAFA;
    padding: 67px 0 64px 0;
    background-image: url(../../img/footer/footer-bgi.svg);
    background-position-x: calc(50% - 550px);
    background-position-y: -420px;
    background-repeat: no-repeat;
}

.footer__box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.footer__box1-logo-img {
    display: block;
}

.footer__box1-social {
    display: flex;
    align-items: center;
}

.footer__box1-social-link:not(:last-child) {
    margin-right: 16px;
}

.footer__box1-social-img {
    display: block;
}

.footer__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #DADADA;
    margin-top: 0;
    margin-bottom: 48px;
    border: none;
}

.footer__box2-list {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__box2-item {
    width: 255px;
}

.footer__box2-item-title {
    margin-top: 0;
    margin-bottom: 36px;
    font-family: 'Karla700';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: $color-SOFT_SAVVY;
}

.footer__box2-item-subtitle {
    text-decoration: none;
    display: block;
    font-family: 'Karla700';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: $color-TELOPEA;
}

.footer__box2-item .footer__box2-item-subtitle:not(:last-child) {
    margin-bottom: 16px;
}